@import "scss/material.variables";
@import "scss/material.themes";
@import "scss/mixins/bi-app/bi-app-ltr";
// Core Variables and Mixins
@import "scss/app.variables";
@import "scss/mixins";
// Core Styles
@import "scss/core";
@import "scss/material";
@import "scss/utilities/utilities";

#sidebar-panel{
    background-color:  #5d814c!important;
}

.mat-drawer-content{
    background-color: #16260e !important;
}

mat-list-item.ng-star-inserted > div > a > span, a.relative:nth-child(4) > span:nth-child(2), mat-list-item.ng-star-inserted > div > a > mat-icon, .material-icon{
    color: white;
}
  
#delete{
    background-color: #8b2635;
}
  
#create{
    background-color: #5db28c;
}
  
#edit{
    background-color: #1a1423;
    margin-right: 2% !important;
}

#edit2{
    background-color: #1a1423;
}

#prestar{
    margin-left: 2% !important;
}