<form [formGroup]="form" (ngSubmit)="createProduct()">
  <div fxLayout="column" fxLayoutAlign="space-around">
    <div class="pb-1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Name" [formControl]="form.controls['name']">
      </mat-form-field>
    </div>
    <div class="pb-1">
      <mat-form-field>
        <mat-select placeholder="Categories" [formControl]="form.controls['categoryId']">
          <mat-option *ngFor="let c of categories" [value]="c.id">
            {{c.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Crear</button>
  </div>
</form>
