<div fxLayout="row" fxLayoutAlign="center center">
  <h2>Añadir Producto </h2>
</div>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Categorías" [(ngModel)]="categoryId">
      <mat-option *ngFor="let c of categoryId" [value]="c.id">
        {{c.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="createProduct()">Crear</button>
</div>
