div:first-child{
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 auto!important;
}

.mat-header-cell{
  text-align: center;
  padding: 0px !important;
}

.mat-cell{
  text-align: center;
  padding: 0px !important;
}