<div fxFlex="100%" fxFlexFill>

  <mat-form-field style="background-color: white; padding: 5px;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Producto">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlexFill>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.categoryId.name}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="primary" id="create" (click)="openDialogNewProduct()">Nuevo
          dato</button></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" id="edit" (click)="openDialogEditProduct(element)"><i class="material-icons">
            edit</i></button>
        <button mat-raised-button color="primary" id="delete" (click)="openDialogDeleteProduct(element.id)"><i class="material-icons">
            delete</i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
