<div fxLayout="row" fxLayoutAlign="center center">
  <h2>Añadir Categoria </h2>
</div>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Mensaje" [(ngModel)]="message">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Supermercado" [(ngModel)]="marketId">
      <mat-option *ngFor="let m of marketId" [value]="m.id">
        {{m.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addCategory()">Crear</button>
</div>
