<form [formGroup]="form" (ngSubmit)="addCategory()">
  <div fxLayout="column" fxLayoutAlign="space-around">
    <div class="pb-1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Name" [formControl]="form.controls['name']">
      </mat-form-field>
    </div>
    <div class="pb-1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Message" [formControl]="form.controls['message']">
      </mat-form-field>
    </div>
    <div class="pb-1">
      <mat-form-field>
        <mat-select placeholder="Supermercado" [formControl]="form.controls['marketId']">
          <mat-option *ngFor="let s of supermercados" [value]="s.id">
            {{s.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Crear</button>
  </div>
</form>
